---
title: "NDNts NFD Status Page"
section:
  title: Projects
  path: /p/
---

<p>A drop-in enhancement of NFD Status Page.</p>

<div class="pure-g">
<section class="pure-u-1 pure-u-lg-13-24">

<h2>Features</h2>
<dl>
<dt>Clean tabbed design.</dt>
<dd><img src="tabs.png" alt="navigation tabs" class="pure-img"></dd>
<dt>Intelligent face description.</dt>
<dd><img src="face.png" alt="face table" class="pure-img"></dd>
<dt>Per-face traffic information (packets per second).</dt>
<dd><img src="traffic.png" alt="face details with traffic counters" class="pure-img"></dd>
<dt>Linking between faces and routes.</dt>
<dd><img src="route.png" alt="routes with links to faces" class="pure-img"></dd>
<dt>Easy-to-read strategy description.</dt>
<dd><img src="strategy.png" alt="strategy choice table" class="pure-img"></dd>
</dl>

</section>
<div class="pure-u-1 pure-u-lg-1-24"></div>
<section class="pure-u-1 pure-u-lg-10-24">

<h2>Online Demo of Testbed Routers</h2>
<p id="demo">loading</p>

</section>
</div>

<div class="pure-g">
<section class="pure-u-1 pure-u-lg-13-24">

<h2>Download and Install</h2>
<p>
<a id="download" href="https://nfd-status-page.ndn.today/NDNts-NFD-status-page.txz" class="pure-button pure-button-primary">Download</a>
</p>
<p>Automatic installation:</p>
<form class="pure-form">
<textarea class="pure-input-1" id="install" readonly rows="8" style="font-family: monospace;">
for D in /usr/share/ndn /usr/local/share/ndn; do
  if [[ -f $D/nfd-status.xsl ]]; then
    sudo rm -rf $D/n
    sudo mkdir -p $D/n
    curl -fsLS https://nfd-status-page.ndn.today/NDNts-NFD-status-page.txz \
    | sudo tar xJ -C $D/n/
  fi
done
</textarea>
</form>
<p>Manual installation:</p>
<ol>
<li>You still need <a href="https://docs.named-data.net/NFD/current/manpages/nfd-status-http-server.html">nfd-status-http-server</a> package.</li>
<li>Extract the tarball to <code>/usr/share/ndn/n</code> directory (assuming nfd-status-http-server hosts its static files in <code>/usr/share/ndn</code>).</li>
<li>You can access the NDNts NFD Status Page at <code>http://localhost/n/</code> .</li>
</ol>

</section>
<div class="pure-u-1 pure-u-lg-1-24"></div>
<section class="pure-u-1 pure-u-lg-10-24">

<h2>Technical Information</h2>
<p><a href="https://github.com/yoursunny/NDNts-NFD-status-page">GitHub repository</a></p>

<p>NDNts NFD Status Page is powered by modern web technologies, including:</p>
<ul>
<li><a href="/p/NDNts/">NDNts</a>: Named Data Networking libraries for the Modern Web</li>
<li><a href="https://developer.mozilla.org/en-US/docs/Web/API/DOMParser">DOMParser API</a> and <a href="https://developer.mozilla.org/en-US/docs/Web/API/Page_Visibility_API">Page Visibility API</a></li>
<li><a href="https://preactjs.com/">Preact</a>: fast 3kb React alternative</li>
<li><a href="https://parceljs.org/">Parcel</a>: web application bundler</li>
<li><a href="https://workers.cloudflare.com/">Cloudflare Workers</a></li>
<li><a href="https://saucelabs.com/">Testing powered by SauceLabs</a></li>
</ul>

<img src="https://fastly.jsdelivr.net/gh/yoursunny/NDNts@8bd2f28d7893a7ea3a7342a169af5a21bb4c7636/docs/logo.svg" alt="NDNts logo">

</section>
</div>

<script>
const $install = document.querySelector("#install");
$install.addEventListener("click", () => $install.select());

const SITE = "https://nfd-status-page.ndn.today";
const PROXY = "https://nfd-status-page-demo-proxy.yoursunny.workers.dev";
(async () => {
  let [testbed, allowlist] = await Promise.all([
    "https://wundngw.wustl.edu/ndnstatus/testbed-nodes.json",
    `${PROXY}/allowlist.json`,
  ].map((uri) => fetch(uri).then((r) => r.json())));

  const routers = [];
  for (const { name, site: uri, "fch-enabled": ok, "ndn-up": up } of Object.values(testbed)) {
    const host = uri.replace(/^http:\/\/|:80\/$/g, "");
    if (ok && up && allowlist.includes(host)) {
      routers.push({ name, host, order: Math.random() });
    }
  }
  routers.sort((a, b) => a.order - b.order);

  const $ul = document.createElement("ul");
  for (const { name, host } of routers) {
    const $li = document.createElement("li");
    const $a = document.createElement("a");
    $a.textContent = name;
    $a.href = `${SITE}/demo.html?uri=${encodeURIComponent(`${PROXY}/${host}.xml`)}`;
    $a.target = "_blank";
    $li.append($a);
    $ul.append($li);
  }
  document.querySelector("#demo").replaceWith($ul);

})().catch((err) => {
  document.querySelector("#demo").textContent = err;
});
</script>
