---
layout: summer-host
title: yoursunny summer host - Deep Atlantic Storage
---

<h1>Deep Atlantic Storage</h1>

<p>Chia farmers bought up all the hard drives? We have unlimited storage!</p>

<ul>
  <li>Any file, any size, any content.</li>
  <li>Secure storage deep in the Atlantic Ocean.</li>
  <li>Advanced sorting technology keeps your data neatly ordered.</li>
  <li>Download without an Internet connection via the <a href="https://gist.github.com/yoursunny/173acdc792409f946f9d990055c2dfc0" target="_blank" rel="noopener">Deep Atlantic Storage app</a>.</li>
</ul>

<h2>Upload your file today</h2>
<form id="f_form" class="pure-form">
<fieldset>
  <input type="file" id="f_file" required>
  <label>
    <input type="checkbox" required>
    I agree to Terms of Service
  </label>
  <button id="f_upload" type="submit" class="pure-button pure-button-primary">Upload</button>
</fieldset>
</form>
<div id="d_progress" class="hidden" style="position: relative; box-sizing: border-box; width: 100%; height: 2rem; background: #dddddd; border: solid #111111 1pt;">
  <div id="d_position" style="position: relative; box-sizing: border-box; width: 10%; height: 100%; background: #2ecc40;"></div>
</div>
<div id="d_result" class="hidden">
  <p>Download from Internet:<br><code class="d_uri" data-base="https://summer-host-storage.yoursunny.dev"></code></p>
  <p>Download via <em>Deep Atlantic Storage app</em>:<br><code class="d_uri" data-base="http://localhost:3333"></code></p>
</div>
<p id="d_error" class="hidden"></p>

<script type="module">
import { quote } from "https://esm.sh/shlex@2.1.2?exports=quote";

/** @type {HTMLInputElement} */
const $file = document.querySelector("#f_file");
/** @type {HTMLButtonElement} */
const $upload = document.querySelector("#f_upload");
/** @type {HTMLDivElement} */
const $progress = document.querySelector("#d_progress");
/** @type {HTMLDivElement} */
const $position = document.querySelector("#d_position");
/** @type {HTMLDivElement} */
const $result = document.querySelector("#d_result");
/** @type {NodeListOf<HTMLElement>} */
const $uris = document.querySelectorAll(".d_uri");
/** @type {HTMLParagraphElement} */
const $error = document.querySelector("#d_error");
/** @type {Worker | undefined} */
let worker;

document.querySelector("#f_form").addEventListener("submit", (evt) => {
  evt.preventDefault();
  $upload.disabled = true;
  $result.classList.add("hidden");
  $error.classList.add("hidden");

  const file = $file.files[0];
  const { name } = file;

  worker ??= new Worker("worker.js");
  worker.onmessage = (evt) => {
    /** @type {{ type: "result"; result: [cnt0: number, cnt1: number] } |
     *         { type: "error"; error: string } |
     *         { type: "progress"; progress: number }}
     */
     const response = evt.data;
    switch (response.type) {
      case "result": {
        const [cnt0, cnt1] = response.result;
        const uriPath = `/${cnt0.toString(16)}/${cnt1.toString(16)}/${encodeURIComponent(name)}`;
        for (const $uri of $uris) {
          const uri = new URL(uriPath, $uri.dataset.base);
          $uri.textContent = `curl -fsLS -o ${quote(name)} --compressed ${quote(uri.toString())}`;
        }
        $result.classList.remove("hidden");
        break;
      }
      case "error": {
        $error.textContent = `Upload failed: ${response.error}`;
        $error.classList.remove("hidden");
        break;
      }
      case "progress": {
        $progress.classList.remove("hidden");
        $position.style.width = `${100 * response.progress}%`;
        return;
      }
    }

    $upload.disabled = false;
    $progress.classList.add("hidden");
  };
  worker.postMessage(file);
});
</script>
