---
title: Projects | 作品目录
section:
  title: Projects
  path: /p/
layout_head: |
  <style>
  .projects section { box-sizing: border-box; padding-right: 8pt; }
  .projects dt { margin: 16pt 0 0 0; font-size: 120%; }
  .projects dt a { color: #0074d9; }
  .projects dd { margin: 4pt 0 0 18pt; }
  .projects .tech { font-size: 60%; background: #85144b; color: #ffffff; border-radius: 7pt; padding: 1pt 4pt; }
  .projects .deadpool summary { cursor: pointer; color: #0074d9; }
  .projects .deadpool dt { text-decoration: line-through; }
  .projects .deadpool dd { color: #888888; }
  </style>
---

<div class="pure-g projects">
<section class="pure-u-1 pure-u-xl-1-2">
<h2>Named Data Networking | 命名数据网络</h2>
<p>Named Data Networking related projects.</p>
<dl>
<dt><a href="NDNts/">NDNts</a> <i class="tech">TypeScript</i></dt>
<dd>Named Data Networking libraries for the Modern Web</dd>
<dt><a href="https://esp8266ndn.ndn.today/">esp8266ndn &amp; NDNph</a> <i class="tech">C++</i></dt>
<dd>NDN Arduino library for ESP8266 and more</dd>
<dt><a href="https://github.com/usnistgov/ndn-dpdk">NDN-DPDK</a> <i class="tech">Go</i> <i class="tech">C</i></dt>
<dd>High-Speed Named Data Networking Forwarder</dd>
<dt><a href="https://homecam.ndn.today/">HomeCam</a> <i class="tech">TypeScript</i></dt>
<dd>browser-based home surveillance and screencast</dd>
<dt><a href="https://ndn-cxx-breaks.ndn.today/">ndn-cxx-breaks</a> <i class="tech">React</i></dt>
<dd>Build ndn-cxx with other projects via GitHub Actions
<dt><a href="ndn-prefix-reach/">NDN Prefix Reachability</a> <i class="tech">Go</i> <i class="tech">RE:DOM</i></dt>
<dd>Check NDN prefix propagation status</dd>
<dt><a href="ndn6/">ndn6 network</a> <i class="tech">Docker</i></dt>
<dd>My own global scale NDN network.</dd>
</dl>
</section>

<section class="pure-u-1 pure-u-xl-1-2">
<h2>Useful Projects | 有用的东东</h2>
<p>Try them out! Hope you'll like them.</p>
<dl>
<dt><a href="AS200690/">AS200690</a> <i class="tech">IPv6</i> <i class="tech">BGP</i></dt>
<dd>IPv6-only LowEndASN
<dt><a href="summer-host/">summer host</a> <i class="tech">Node.js</i> <i class="tech">Go</i></dt>
<dd>a fictional web hosting service for entertainment purpose</dd>
<dt><a href="pcap-map/">pcap map visualizer</a> <i class="tech">JavaScript</i></dt>
<dd>want to see where are the IP addresses your machine is talking to?</dd>
<dt><a href="rideon-today/">Ride On Today</a> <i class="tech">PHP</i> <i class="tech">SQL</i></dt>
<dd>what bus routes are running today?
<dt><a href="PHP-decode/">微盾PHP解密</a> <i class="tech">PHP</i></dt>
<dd>解码用微盾PHP脚本加密专家加密过的PHP脚本。免费，快速，解得开！</dd>
<dt><a href="GPA/">阳光GPA计算器</a> <i class="tech">JavaScript</i></dt>
<dd>最方便快捷的GPA绩点计算工具，自动导入各类表格，立即获得GPA计算结果</dd>
<dt><a href="/t/2011/qqwry/">纯真IP数据库批量查询</a> <i class="tech">PHP</i></dt>
<dd>一次性查询大量IP地址的归属地</dd>
</dl>
</section>

<section class="pure-u-1 pure-u-xl-1-2">
<h2>Show Cases | 橱窗里的展品</h2>
<p>Have a look at the description and video!</p>
<dl>
<dt><a href="https://www.hackster.io/yoursunny/building-evacuation-with-azure-sphere-and-d6t-8731ae">Building Evacuation with Azure Sphere and D6T</a> <i class="tech">IoT</i></dt>
<dd>When a building needs to be evacuated, Azure Sphere and D6T thermal sensor tells firefighters which rooms may still have people inside.</dd>
<dt><a href="https://www.hackster.io/yoursunny/fridge-door-alarm-with-nxp-rapid-iot-57bbc2">Fridge Door Alarm with NXP Rapid IoT</a> <i class="tech">IoT</i></dt>
<dd>I made a fridge door alarm that sounds a buzzer if I leave my fridge door open for more than 10 seconds.</dd>
<dt><a href="https://youtu.be/F5gyqJEpTtk">520bus</a> <i class="tech">Node-RED</i></dt>
<dd>"Alexa, ask 520bus when does route 8 depart Campbell?"</dd>
<dt><a href="https://forums.losant.com/t/lcd-calories-tracker/366">LCD calories tracker</a> <i class="tech">Arduino</i></dt>
<dd>watch out how much I ate on a kitchen display</dd>
<dt><a href="https://devpost.com/software/traceart-8gsn5o">TraceArt</a> <i class="tech">C</i> <i class="tech">Python</i></dt>
<dd>show your favorite quotes on `traceroute6`</dd>
<dt><a href="https://devpost.com/software/homecamspark">HomeCamSpark</a> <i class="tech">bash</i></dt>
<dd>home surveillance camera integrated with Cisco Spark</dd>
</dl>
</section>

<section class="pure-u-1 pure-u-xl-1-2">
<h2>Useless Toys | 没用的玩意</h2>
<p>Older projects. Still online but no longer useful.</p>
<dl>
<dt><a href="vmapi/">VMAPI</a> <i class="tech">bash</i></dt>
<dd>bash scripts to create virtual machines from a template</dd>
<dt><a href="/t/2007/ImageResizer/">ImageResizer批量图片缩小工具</a> <i class="tech">C#</i></dt>
<dd>快速将一个目录中的所有jpg图片缩小成指定尺寸</dd>
<dt><a href="/t/2007/AlbumPlayer/">AlbumPlayer</a> <i class="tech">JavaScript</i></dt>
<dd>动态显示相册、支持多种转场效果的JavaScript类库</dd>
<dt><a href="/t/2008/dbMySQL/">dbMySQL</a> <i class="tech">PHP</i></dt>
<dd>PHP访问MySQL数据库，而编程更加方便、安全性更高</dd>
</dl>
</section>

<section class="pure-u-1 pure-u-xl-1-2 deadpool">
<h2>Dead Pool | 已经下线</h2>
<p>`410 Gone`:
The requested resource is no longer available at the server and no forwarding address is known.
This condition is expected to be considered permanent.</p>
<details>
<summary>What's in the dead pool?</summary>
<dl>
<dt>backuplet</dt>
<dd>export online information via a bookmarklet.</dd>
<dd>通过浏览器书签备份新浪微博、腾讯微博、饭否等网站的信息。</dd>
<dt>DeleteTweet</dt>
<dd>IFTTT integration to delete a mistyped tweet from Twitter via SMS.</dd>
<dt><a href="https://github.com/yoursunny/NFD-Windows">NFD-Windows</a></dt>
<dd>Windows builds of NDN software.</dd>
<dt><a href="https://github.com/yoursunny/NDNSF">NDN Slim Forwarder</a></dt>
<dd>Content Centric Networking forwarder in Node.js.</dd>
<dt>SecureSubmit 安全数据提交</dt>
<dd>用Diffie-Hellman算法（DH）在浏览器和服务器之间协商一个64-bit的共享密钥，然后用DES算法加密所需提交的数据（如密码），在服务器上解密。</dd>
<dt>XmppProxy</dt>
<dd>用XMPP作为传输机制的代理服务器软件</dd>
<dt>WebTar网站打包器</dt>
<dd>将整个网站或部分目录生成1个PHP文件</dd>
</dl>
</details>
</section>

<section class="pure-u-1 pure-u-xl-1-2">
<h2>Blog | 技术博客</h2>
<p>Do you know I have a blog? More projects there.</p>
<dl>
<dt><a href="/t/">yoursunny blog: computer, Internet, and life</a></dt>
<dd>link to the blog</dd>
</dl>
</section>

</div>
