---
layout: summer-host
title: yoursunny summer host - Antarctica IPv9 VPS
layout_head: |
  <style>
    #l_spec li { margin-top: 0.5rem; list-style: square; }
    #l_aup li { margin-top: 0.3rem; list-style: circle; }
  </style>
---

<h1>Antarctica IPv9 VPS</h1>

<h2>Plans</h2>
<table class="pure-table">
  <thead>
    <tr>
      <th>plan</th>
      <th>CPU</th>
      <th>memory</th>
      <th>storage</th>
      <th>price</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Demi</td>
      <td>0.5</td>
      <td>256MB</td>
      <td>3GB</td>
      <td>2 🥭/quarter</td>
    </tr>
    <tr>
      <td>Short</td>
      <td>0.5</td>
      <td>512MB</td>
      <td>5GB</td>
      <td>1 🥭/month</td>
    </tr>
    <tr>
      <td>Tall</td>
      <td>1</td>
      <td>1GB</td>
      <td>10GB</td>
      <td>2 🥭/month</td>
    </tr>
    <tr>
      <td>Grande</td>
      <td>2</td>
      <td>2GB</td>
      <td>20GB</td>
      <td>4 🥭/month</td>
    </tr>
    <tr>
      <td>Venti</td>
      <td>3</td>
      <td>4GB</td>
      <td>50GB</td>
      <td>7 🥭/month</td>
    </tr>
  </tbody>
</table>

<ul id="l_spec">
  <li><strong>Dedicated</strong> ARMv5 CPU cores.</li>
  <li>Storage: high-speed CF cards.</li>
  <li>Every VPS comes with 9999 IPv9 addresses.</li>
  <li>Port speed: 115200bps via SpaceX StarLink, unlimited transfer.</li>
  <li>Data center location: Antarctica (<a id="a_lg" href="http://lg.yoursunny-summer-host.invalid">looking glass</a>).</li>
  <li>Hardware: Aptenodytes forsteri.</li>
</ul>

<details>
  <summary>Acceptable Use Policy</summary>
  <ul id="l_aup">
    <li>Leave No Trace.</li>
    <li>Turn Around Don't Drown.</li>
    <li>Face covering is required.</li>
    <li>Do 22 push-ups.</li>
  </ul>
</details>

<h2>Reserve your VPS today</h2>
<form id="f_form" class="pure-form">
<fieldset>
  <label for="f_email">Email</label>
  <input type="email" id="f_email" required>
  <label for="f_plan">Plan selection</label>
  <select id="f_plan">
    <option>Nano</option>
    <option>Bison</option>
    <option>Rock</option>
    <option>Apple</option>
    <option>Shoebox</option>
  </select>
  <label>
    <input type="checkbox" required>
    I agree to Terms of Service
  </label>
  <button type="submit" class="pure-button pure-button-primary">Next</button>
</fieldset>
</form>

<h2>Free 1-Hour Trial Instance</h2>
<!-- https://github.com/yoursunny/summer-host-ssh -->
<ul>
  <li>IPv9 address of your trial instance: <kbd id="t_host"></kbd></li>
  <li>Password: <kbd id="t_password"></kbd></li>
  <li>If you do not have native IPv9 network access, use our SSH bridge accessible from IPv4+IPv6:<br>
  <code id="t_ssh">ssh -T -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null -p 7866 summer-host-ssh.yoursunny.dev</code>
  </li>
</ul>
<details>
  <summary>Supported commands in trial instance</summary>
  <ul>
    <li><strong>help</strong>: display help message</li>
    <li><strong>echo</strong>: display a line of text</li>
    <li><strong>yabs</strong>: execute Yet-Another-Bench-Script</li>
    <li><strong>who</strong>: see who is online</li>
    <li><strong>yo</strong>: send a message to another server</li>
    <li><strong>exit</strong>: idle this server</li>
  </ul>
</details>

<audio id="audio" src="https://archive.org/download/NeverGonnaGiveYouUp/jocofullinterview41.mp3"></audio>

<script>
document.querySelector(".site-index-title h2").innerHTML +=
  `<sup title="Service is not available in winter due to lack of sunlight.">*</sup>`;

document.querySelector("#a_lg").addEventListener("click", (evt) => {
  evt.preventDefault();
  window.open("https://youtu.be/dQw4w9WgXcQ");
});
document.querySelector("#f_form").addEventListener("submit", (evt) => {
  evt.preventDefault();
  alert("You will receive a fragrant email when a slot becomes available.");
  document.querySelector("#audio").play();
});
document.querySelector("#t_host").textContent = Math.floor((1E9 * Math.random())).toString().padStart(9, "0");

const ALPHABET = "ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789-_";
document.querySelector("#t_password").textContent =
  Array.from(crypto.getRandomValues(new Uint8Array(8))).map((n) => ALPHABET[n % 64]).join("");

for (const selector of ["#t_host", "#t_password", "#t_ssh"]) {
  const $el = document.querySelector(selector);
  const $btn = document.createElement("button");
  $btn.className = "pure-button";
  $btn.style.fontSize = "60%";
  $btn.textContent = "COPY";
  $btn.addEventListener("click", async (evt) => {
    evt.preventDefault();
    try {
      await navigator.clipboard.writeText($el.textContent);
      $btn.textContent = "copied";
      setTimeout(() => $btn.textContent = "COPY", 800);
    } catch {
      alert("unable to copy");
    }
  });
  $el.insertAdjacentElement("afterend", $btn);
  $el.insertAdjacentText("afterend", " ");
}
</script>
