@charset "utf-8";
/* 10.css for 2010 */

/* Eric Meyer Reset Reloaded */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td { margin:0; padding:0; border:0; outline:0; font-weight:inherit; font-style:inherit; font-size:100%; font-family:inherit; vertical-align:baseline; }
:focus { outline:0; }
body { line-height:1; color:black; background:white; }
ol,ul { list-style:none; }
table { border-collapse:separate; border-spacing:0; }
caption,th,td { text-align:left; font-weight:normal; }
blockquote:before,blockquote:after,q:before,q:after { content:""; }
blockquote,q { quotes:"" ""; }


/* ---- common style ---- */
body { font:12px/1 Tahoma,Helvetica,Arial,"\5b8b\4f53",sans-serif; }
body.mobile { font-size:small; }
.header,.contents,.footer { width:900px; margin:0 auto; clear:both; }
.mobile .header,.mobile .contents,.mobile .footer { width:auto; }
a { text-decoration:none; }
sup { font-size:85%; vertical-align:super; }
sub { font-size:85%; vertical-align:sub; }
code,pre { font-family:monospace; }

/* header part */
.container { background:#fff url(header.jpg) repeat-x; }
.mobile .container { background:none; }
.header { height:45px; margin-bottom:20px; }
.header .logo { display:block; height:35px; margin:5px 0; padding-left:45px; background:url(logo.gif) no-repeat; font-size:24px; float:left; color:#000; }
.nav { float:left; margin-left:50px; }
.nav li { width:70px; float:left; margin:8px 20px 0 0; }
.nav a { display:block; background-color:#639a00; height:20px; padding:3px 0 1px; text-align:center; font-size:14px; color:#fff; border:solid 1px #74ab11; }
.nav a:hover { background-color:#74ab11; }
.nav li.current a,.nav li.current a:hover { background-color:#b87822; border-color:#c98933; }
.mnav { }
.mnav a { color:#417800; }
.mnav a.current { color:#b87822; }
.header-searchbox { float:left; margin:10px 0 0 40px; }

/* contents part */
.contents_maincol { width:692px; float:left; }
.contents_maincol .cblock { width:650px; background-color:#f7f7ef; border:solid 1px #e7e3ce; padding:16px 20px 25px 20px; margin-bottom:16px; }
.contents_maincol .tit { font-size:24px; line-height:30px; color:#369; }
.contents_sidebar { width:202px; float:right; }
.contents_sidebar .cblock { width:180px; background-color:#f7f7ef; border:solid 1px #e7e3ce; padding:6px 10px 15px 10px; margin-bottom:16px; }
.contents_sidebar .tit { font-size:20px; line-height:25px; color:#369; }
.contents_fullwidth .cblock { width:858px; background-color:#f7f7ef; border:solid 1px #e7e3ce; padding:16px 20px 25px 20px; margin-bottom:16px; }
.contents_fullwidth .tit { font-size:24px; line-height:30px; color:#369; }
.mobile .tit,.mobile .tit a { font-size:large; color:#f00; margin-top:12px; }

/* footer part */
.footer { }
.mobile .footer { margin-top:12px; }
