---
layout: base
no_header: true
no_footer: true
title: ndn6 Network Map
layout_head: |
  <style>
  body { padding: 0 !important; }
  #map { height: 100vh; }
  #legend { margin: 1rem; padding: 0.5rem; background: #ffffff; width: 10rem; }
  #legend p { line-height: 200%; }
  </style>
---

<div id="map"></div>
<div id="legend">
<h3>ndn6 Network Map</h3>
<p>
  <label><input type="checkbox" checked data-filter="n-yoursunny"> <b style="color: #ff851b;">▲</b> <a href="../">ndn6 network</a> node</label>
  <br>
  <label><input type="checkbox" checked data-filter="n-ndn"> <b style="color: #b10dc9;">▼</b> named-data.net node</label>
  <br>
  <label title="UDP transport"><input type="checkbox" checked data-filter="t-udp"> UDP</label>
  <label title="WebSocket over TLS transport"><input type="checkbox" checked data-filter="t-wss"> WSS</label>
  <label title="HTTP/3 over QUIC transport"><input type="checkbox" checked data-filter="t-http3"> H3</label>
  <br>
  <label title="include offline routers"><input type="checkbox" data-filter="down"> down</label>
</p>
<button id="refresh" class="pure-button">refresh</button>
</div>

<script>
const parser = new DOMParser();
let map;
const drawings = [];
const $refresh = document.querySelector("#refresh");
const $filters = document.querySelectorAll("#legend input[type=checkbox][data-filter]");

function initMap() {
  map = new google.maps.Map(document.querySelector("#map"), {
    mapId: "DEMO_MAP_ID",
    center: { lat: 30, lng: 0 },
    zoom: 2,
    mapTypeControl: false,
    streetViewControl: false,
    fullscreenControl: false,
  });
  map.controls[google.maps.ControlPosition.LEFT_BOTTOM].push(document.querySelector("#legend"));

  $refresh.addEventListener("click", tryLoadRouters);
  $filters.forEach(($filter) => $filter.addEventListener("change", displayRouters));
  void tryLoadRouters();
}

const NODE_ICON = {
  "ndn+": {
    path: "M -3 -1 H 3 L 0 3 Z",
    fillColor: "#b10dc9",
  },
  "ndn-": {
    path: "M -3 -1 H 3 L 0 3 Z",
    fillColor: "#d884e2",
  },
  "yoursunny+": {
    path: "M -3 1 H 3 L 0 -3 Z",
    fillColor: "#ff851b",
  },
  "yoursunny-": {
    path: "M -3 1 H 3 L 0 -3 Z",
    fillColor: "#ffb173",
  },
};
const LINE_STYLE = {
  "+": {
    strokeColor: "#2d4062",
    strokeOpacity: 0.5,
    strokeWeight: 1.2,
  },
  "-": {
    strokeOpacity: 0,
    icons: [{
      icon: {
        path: "M 0 -2 V 2",
        strokeColor: "#546587",
        strokeOpacity: 0.5,
        strokeWeight: 1.2,
      },
      offset: "0",
      repeat: "18px",
    }],
  },
};

async function tryLoadRouters() {
  try {
    $refresh.disabled = true;
    await loadRouters();
  } catch (err) {
    console.error(err);
  } finally {
    $refresh.disabled = false;
  }
}

let routers;

async function loadRouters() {
  const response = await fetch("https://fch.ndn.today/routers.json");
  if (!response.ok) {
    throw new Error(`HTTP ${response.status}`);
  }
  routers = await response.json();
  displayRouters();
}

function displayRouters() {
  if (!routers) {
    return;
  }
  for (const drawing of drawings.splice(0, Infinity)) {
    drawing.setMap(null);
  }

  const filters = new Set(Array.prototype.filter.call($filters, ($filter) => $filter.checked)
    .map(($filter) => $filter.dataset.filter));
  const nodes = new Map();
  const links = new Set();
  for (const { id, position: [lng, lat], host, prefix = "", neighbors, available } of routers) {
    const position = { lat, lng };
    const isUp = available.length > 0;
    const hasTransport = available.some(({ transport }) => filters.has(`t-${transport}`));
    const network = prefix.startsWith("/yoursunny/") ? "yoursunny" : "ndn";
    if (!(isUp || filters.has("down")) || !filters.has(`n-${network}`)) {
      continue;
    }
    nodes.set(id, { position, isUp, network });
    for (const neigh of Object.keys(neighbors)) {
      links.add([id, neigh].sort((a, b) => a.localeCompare(b)).join(" "));
    }
    const icon = NODE_ICON[`${network}${hasTransport ? "+" : "-"}`];
    const pin = parser.parseFromString(`
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="-12 -12 24 24" style="transform:translate(0,12px)">
        <path style="transform:scale(4)" d="${icon.path}" fill="${icon.fillColor}" fill-opacity="0.8"/>
      </svg>
    `, "image/svg+xml").documentElement;
    drawings.push(new google.maps.marker.AdvancedMarkerElement({
      map,
      position,
      title: `${id}\n(${isUp ? available.map(({ transport, family }) => `${transport}/${family}`).join(" ") : "unreachable"})`,
      content: pin,
    }));
  }

  for (const link of links) {
    const [idA, idB] = link.split(" ");
    const nodeA = nodes.get(idA);
    const nodeB = nodes.get(idB);
    if (!nodeA || !nodeB) {
      continue;
    }
    const isUp = nodeA.isUp && nodeB.isUp;
    drawings.push(new google.maps.Polyline({
      map,
      path: [nodeA.position, nodeB.position],
      geodesic: true,
      ...LINE_STYLE[`${isUp ? "+" : "-"}`],
      title: `${idA}-${idB}`,
    }));
  }
}
</script>
<script async src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAZkmau2JPqTHVshtguOiFwC1MhW9AGEck&loading=async&callback=initMap&libraries=marker"></script>
