{% block head %}
<!DOCTYPE html>
<html{{ lang ? ' lang="' ~ lang ~ '"' : '' }}>
<meta charset="utf-8">
<title>{{ title|e }}</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/pure/3.0.0/pure-min.css" integrity="sha512-X2yGIVwg8zeG8N4xfsidr9MqIfIE8Yz1It+w2rhUJMqxUwvbVqC5OPcyRlPKYOw/bsdJut91//NO9rSbQZIPRQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/pure/3.0.0/grids-responsive-min.css" integrity="sha512-CCCLMVkN2BjfasRRbOIGDKhZa7gdWD93ttxHs0Z2UJB+jSqGPTcM4tibmV3GLxO2YkToFwsI36ivMvHw1KX+pg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<link rel="stylesheet" href="/assets/2017/style.css">
{% block head_extra %}{{ layout_head }}{% endblock %}
{% endblock %}

{% if enable_bugsnag == 'head' %}{% include '_bugsnag.html' %}{% endif %}
{% block header %}
{% if not no_header %}
<div class="pure-g">
<hgroup class="site-index-title {{ site_index_title_class|default('pure-u-1') }}">
<h1><a href="/" class="site-brand">yoursunny</a>
{% if section is not null %}
<a href="{{ section.path|e('html_attr') }}">{{ section.title|e }}</a>
{% endif %}
</h1>
{% if section.subtitle is not null %}
<h2>{{ section.subtitle|e }}</h2>
{% endif %}
</hgroup>
{% block header_right %}{% endblock %}
</div>
{% endif %}
{% endblock %}

{% block content %}
{{ body }}
{% endblock %}

{% block footer %}
{% if not no_footer %}
<footer class="site-footer pure-g">
<div class="pure-u-1">&copy;{{ 'now'|date('Y') }} yoursunny.com{% block footer_addtext %}{{ layout_footer_addtext }}{% endblock %}
</div>
</footer>
{% endif %}
{% endblock %}

{% if enable_bugsnag == 'foot' %}{% include '_bugsnag.html' %}{% endif %}
{% block foot %}{{ layout_foot }}{% endblock %}
{% if not no_analytics %}{% include '_analytics.html' %}{% endif %}
