---
layout: base
no_header: true
title: Junxiao Shi
layout_head: |
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fork-awesome/1.2.0/css/fork-awesome.min.css" integrity="sha512-aupidr80M36SeyviA/hZ2uEPnvt2dTJfyjm9y6z1MgaV13TgzmDiFdsH3cvSNG27mRIj7gJ2gNeg1HeySJyE3Q==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/colors/3.0.0/css/colors.css" integrity="sha512-JDgDKJJxVyJLwANfCzVKkY11LnbN9Br5/3LFmnoxrPPGvhhkt4YyuAwc2TVk977ffy3/Q/7FbGzu52AEJ8QctA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <style>
  .iconlist { list-style:none; padding:0; }
  .iconlist > li { padding-top:1rem; padding-left:1.5rem; }
  .iconlist > li li { padding-top:0.5rem; }
  .iconlist > li > i:first-child, .iconlist > li > img.icon { margin-left:-1.5rem; padding-right:0.5rem; width:16px; height:16px; }
  .plainlist { list-style:none; padding-left:0; }
  .toggle-sublist + ul { overflow-y:hidden; transition-duration:0.5s; }
  .toggle-sublist + ul.closed { height:0 !important; }
  .feed-post { margin:0 0 2rem 0; list-style: "📌"; }
  .feed-post li { margin:0 0 0.2rem 0; padding-left: 0.4rem; }
  .feed-post .dt { font-size:90%; color:#090; white-space:nowrap; }
  </style>
---

<img class="pure-img" src="https://gravatar.loli.net/avatar/70a55686123e015e401aaa2783632534?s=300" alt="photo of Junxiao Shi">
<h1>Junxiao Shi</h1>

<ul class="iconlist">
<li><img class="icon" src="wilbur.gif" alt="University of Arizona"> <a href="https://www2.cs.arizona.edu/~shijunxiao/" target="_blank" rel="noopener">PhD in computer networking</a></li>
<li><img class="icon" src="nist.png" alt="National Institute of Standards and Technology"> <a href="https://www.nist.gov/people/junxiao-shi" target="_blank" rel="noopener">computer networking researcher</a></li>
<li><i class="fa fa-thumbs-up" style="color:#ffc964;"></i> believe in open and free Internet</li>
<li><i class="fa fa-facebook-square" style="color:#3b5998;"></i> <a href="https://www.facebook.com/yoursunny" target="_blank" rel="noopener">FB.com/yoursunny</a></li>
<li><i class="fa fa-github" style="color:#333333;"></i> <a href="https://github.com/yoursunny" target="_blank" rel="noopener">GitHub.com/yoursunny</a></li>
<li><i class="fa fa-envelope" style="color:#c71610;"></i> <a href="javascript:;" class="toggle-sublist"><img src="email.php?n=1&amp;l=1" alt="" style="background:url(email.php?n=1&amp;l=0);max-width:none;"> &#x25be;</a>
  <ul class="plainlist">
  <li>primary: <img src="email.php?n=1&amp;l=1" alt="" style="background:url(email.php?n=1&amp;l=0);max-width:none;"></li>
  <li>academic: <img src="email.php?n=3&amp;l=1" alt="" style="background:url(email.php?n=3&amp;l=0);max-width:none;"></li>
  <li>Please use a descriptive subject</li>
  </ul>
</li>
<li><i class="fa fa-phone" style="color:#0f9d58;"></i> <button type="button" id="callBtn" disabled data-t-call="dial online" data-t-hangup="Hang Up" data-t-calling="VoIP calling" data-t-ringing="ringing" data-t-answered="answered"></button> <a href="javascript:;" class="toggle-sublist">phone numbers &#x25be;</a>
  <ul class="plainlist">
  <li>USA toll: <a href="tel:+18044578669">+1 804 457 8669</a></li>
  </ul>
</li>
<li><i class="fa fa-address-card"></i> Gaithersburg, Maryland</li>
<li><i class="fa fa-laptop"></i> <a href="javascript:;" class="toggle-sublist">Gadgets &#x25be;</a>
  <ul class="iconlist">
  <li><i class="fa fa-mobile"></i> <a href="https://amzn.to/35jgD2C" target="_blank" rel="noopener">iPhone SE (2020)</a>
      <small class="afflink-amzn" title="As an Amazon Associate I earn from qualifying purchases.">(paid link)</small></li>
  <li><i class="fa fa-mobile"></i> Ulefone Power Armor 14</li>
  <li><i class="fa fa-tablet"></i> <a href="https://amzn.to/3zXxyX7" target="_blank" rel="noopener">Fire HD 8 Plus</a>
    <small class="afflink-amzn" title="As an Amazon Associate I earn from qualifying purchases.">(paid link)</small></li>
  <li><i class="fa fa-headphones"></i> <a href="https://amzn.to/3KDnQ0L" target="_blank" rel="noopener">bone conduction headphones</a>
    <small class="afflink-amzn" title="As an Amazon Associate I earn from qualifying purchases.">(paid link)</small></li>
  <li><i class="fa fa-laptop"></i> <a href="https://amzn.to/2LS9H51" target="_blank" rel="noopener">ACER Spin 5</a>
      <small class="afflink-amzn" title="As an Amazon Associate I earn from qualifying purchases.">(paid link)</small></li>
  <li><i class="fa fa-desktop"></i> Raspberry Pi 400 + AOC 20in monitor</li>
  <li><i class="fa fa-server"></i> DELL 7040 Micro</li>
  <li><i class="fa fa-headphones"></i> <a href="https://amzn.to/2o71kqV" target="_blank" rel="noopener">Echo Dot</a>
      <small class="afflink-amzn" title="As an Amazon Associate I earn from qualifying purchases.">(paid link)</small></li>
  <li><i class="fa fa-puzzle-piece"></i> ESP8266 &amp; ESP32</li>
  </ul>
</li>
<li><img class="icon" src="geocaching.png" alt="Geocaching"> <a href="https://project-gc.com/ProfileStats/yoursunny" target="_blank" rel="noopener">Geocacher</a></li>
<li><i class="fa fa-eye" style="color:#0092f3;"></i> <a href="https://next-episode.net/user/yoursunny/" target="_blank" rel="noopener">TV watcher</a></li>
<li><i class="fa fa-podcast" style="color:#e62117;"></i> <a href="https://player.fm/yoursunny/fm" target="_blank" rel="noopener">podcast listener</a></li>
<li><i class="fa fa-plane" style="color:#f8c024;"></i> <a href="https://my.flightradar24.com/yoursunny" target="_blank" rel="noopener">infrequent flyer</a></li>
<li><i class="fa fa-globe" style="color:#005493;"></i> <a href="https://www.mytravelmap.xyz/u/fb10157238336788827" target="_blank" rel="noopener">traveled 5% of the world</a></li>
</ul>

<script>
document.querySelectorAll('a.toggle-sublist').forEach(($a) => {
  const $ul = $a.nextElementSibling;
  if ($ul.tagName !== 'UL') {
    return;
  }
  $ul.style.height = `${$ul.offsetHeight}px`;
  $ul.classList.add('closed');
  $a.addEventListener('click', (evt) => {
    evt.preventDefault();
    $ul.classList.toggle('closed');
  });
});
</script>

<audio id="sipAudio"></audio>
<script src="sipcall.js" type="module"></script>
