---
layout: base
lang: zh
title: 微盾PHP解密
section:
  title: Projects
  path: /p/
---

<div class="pure-g">
<div class="pure-u-3-4">

<hgroup>
<h1>微盾PHP解密</h1>
<h2>免费，快速，解得开！</h2>
</hgroup>

<form id="f_code" class="pure-form pure-form-stacked"><fieldset>
<label for="i_code">代码输入</label>
<textarea id="i_code" required placeholder="经过编码混淆的PHP代码" style="width:90%;height:20em;"></textarea>
<button class="pure-button pure-button-primary" type="submit">PHP解码</button>
</fieldset></form>

<div class="pure-menu pure-menu-horizontal">
<span class="pure-menu-heading">示例</span>
<ul class="pure-menu-list">
<li class="pure-menu-item"><a href="javascript:demo('phpinfo.php.txt')" class="pure-menu-link">phpinfo.php</a></li>
<li class="pure-menu-item"><a href="javascript:demo('wp-login.php.txt', 'https://github.com/WordPress/WordPress/blob/72c19648bc3b17e0505839ec1d6e5dca9f4c15c8/wp-login.php')" class="pure-menu-link">WordPress wp-login.php</a></li>
<li class="pure-menu-item"><a href="javascript:demo('WebStart.php.txt', 'https://github.com/wikimedia/mediawiki/blob/17eda64357834fa847126d8d7f49f6f5b42c4d89/includes/WebStart.php')" class="pure-menu-link">MediaWiki WebStart.php</a></li>
</ul>
</div>

</div>
<aside class="pure-u-1-4">

<p>本工具可以解码用 微盾PHP脚本加密专家 （vidun 威盾PHP脚本加密专家、VirtualWall PHPCodeLock） V1.0.0.1000 加密过的PHP脚本。这类PHP程序往往会包含形如 $OOO0O0O00=__FILE__;<wbr>$OOO000000<wbr>=urldecode<wbr>('%74%68%36%73%62%65%68%71%6c%61%34%63%6f%5f%73%61%64%66%70%6e%72');、<wbr>eval(($$O0O0000O0( 等代码。本工具可以处理在“微盾PHP脚本加密专家”勾选Enable Encoding、Enable Obfuscation等选项后，经过编码、混淆的PHP代码，可以将威盾加密过的代码恢复成接近于原文。</p>
<p>相关技术文章：<a href="/t/2009/PHP-decode-2/">又一个加密PHP脚本的解码方法</a></p>

</aside>
</div>

<div id="p_result" class="pure-g" hidden>
<div class="pure-u-1">

<h2>解密结果</h2>

<code id="d_result" lang="en"></code>

</div>
</div>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.5.1/styles/ir-black.min.css" integrity="sha512-koyJNDRWiSkXWV9VpMDJXZnwgO5wB1VsSw5O7XpkYFBL9Yjp6QiotG1CPuD3iHbOw5a3obVP5guUzxhJA0Dmhw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.5.1/highlight.min.js" integrity="sha512-yUUc0qWm2rhM7X0EFe82LNnv2moqArj5nro/w1bi05A09hRVeIZbN6jlMoyu0+4I/Bu4Ck/85JQIU82T82M28w==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script>
document.getElementById('f_code').addEventListener('submit', function(evt){
  evt.preventDefault();
  var code = document.getElementById('i_code').value;
  fetch('APIv1.php', {
    method: 'POST',
    body: code
  })
  .then(function(resp){
    if (resp.status != 200) {
      return Promise.reject('无法识别输入的脚本');
    }
    return resp.text();
  })
  .then(function(result){
    var pre = document.createElement('pre');
    pre.textContent = result;
    hljs.highlightBlock(pre);
    var d_result = document.getElementById('d_result')
    d_result.innerHTML = '';
    d_result.appendChild(pre);
    document.getElementById('p_result').removeAttribute('hidden');
  })
  .catch(function(reason){
    alert('解密失败：' + reason);
  });
});

function demo(file) {
  fetch(file)
  .then(function(resp){
    return resp.text();
  })
  .then(function(code){
    document.getElementById('i_code').value = code;
  })
  .catch(function(reason){
    alert('示例加载失败：' + reason);
  });
}
</script>
