---
layout: base
no_header: true
lang: en
title: Junxiao Shi academic homepage
layout_head: |
  <base target="_blank">
---

<div class="pure-g">
<div class="pure-u-1 pure-u-md-7-24">

<img class="pure-img" src="https://gravatar.loli.net/avatar/c5278120e19fadcf0f097e9f8a08a651?s=500" alt="photo of Junxiao Shi">
<h1>Junxiao Shi</h1>
<p>PhD, graduated in 2017<br>
Department of Computer Science<br>
The University of Arizona</p>

<address>
<img src="/m/email.php?n=3&amp;l=1" alt="" style="background:url(/m/email.php?n=3&amp;l=0);max-width:none;">
</address>

<p>
<a href="https://www.linkedin.com/in/shijunxiao/">LinkedIn</a> &nbsp;
<a href="https://scholar.google.com/citations?user=dcuGUKYAAAAJ&hl=en">Google Scholar</a> &nbsp;
<a href="https://orcid.org/0000-0003-3138-0790">ORCID</a>
</p>

</div>
<div class="pure-u-md-1-24"></div>
<div class="pure-u-1 pure-u-md-2-3">

<section>
<h2>Research: Named Data Networking</h2>
<p><a href="https://named-data.net/">Named Data Networking</a> is a new Internet architecture that changes the network semantic from packet delivery to content retrieval.</p>
<p>Dissertation: <strong><a href="https://hdl.handle.net/10150/625652">Named Data Networking in Local Area Networks</a></strong></p>

<h3>Publications</h3>
<ul>
<li>Junxiao Shi, Eric Newberry, Beichuan Zhang,
    <strong><a href="https://named-data.net/publications/on_broadcast-based_self-learning_ndn/">On Broadcast-based Self-Learning in Named Data Networking</a></strong>,
    <em>IFIP Networking 2017</em>
<li>Junxiao Shi, Teng Liang, Hao Wu, Bin Liu, Beichuan Zhang,
    <strong><a href="https://named-data.net/publications/ndn-nic/">NDN-NIC: Name-based Filtering on Network Interface Card</a></strong>,
    <em>ICN 2016</em>
<li>Hao Wu, Junxiao Shi, Yaxuan Wang, Yilun Wang, Gong Zhang, Yi Wang, Bin Liu, and Beichuan Zhang,
    <strong><a href="https://named-data.net/publications/on_incremental_deployment_ndn/">On Incremental Deployment of Named Data Networking in Local Area Networks</a></strong>,
    <em>ANCS 2017</em>
<li>Junxiao Shi, Beichuan Zhang,
    <strong><a href="https://named-data.net/publications/techreports/trlinkprotocol/">NDNLP: A Link Protocol for NDN</a></strong>,
    <em>NDN Technical Report 2012</em>
</ul>
</section>

<section>
<h2>Research: GreenNet</h2>
<p><a href="http://greennet.cs.arizona.edu/">GreenNet</a> develops network protocols and traffic engineering mechanisms to improve the overall energy efficiency of computer network infrastructures.</p>

<h3>Publications</h3>
<ul>
<li>Junxiao Shi, Beichuan Zhang,
    <strong><a href="https://dx.doi.org/10.1109/ICCNC.2014.6785462">Making Inter-domain Routing Power-aware?</a></strong>,
    <em>ICNC 2014</em>
<li>Dan Li, Yirong Yu, Junxiao Shi, Beichuan Zhang,
    <strong><a href="https://dx.doi.org/10.1109/TNET.2015.2496307">PALS: Saving Network Power with Low Overhead to ISPs and Applications</a></strong>,
    <em>Transactions on Networking 2015</em>
<li>Tian Pan, Ting Zhang, Junxiao Shi, Yang Li, Linxiao Jin, Fuliang Li, Jiahai Yang, Beichuan Zhang, Xueren Yang, Mingui Zhang, Huichen Dai, Bin Liu,
    <strong><a href="https://dx.doi.org/10.1109/TNET.2015.2420113">Towards Zero-Time Wakeup of Line Cards in Power-Aware Routers</a></strong>,
    <em>Transactions on Networking 2015</em>
</ul>
</section>

<section>
<h2>Coursework</h2>

<ul>
<li>CSC525 Principles of Computer Networking
<li>CSC545 Design and Analysis of Algorithms
<li>CSC566 Computer Security
    <ul>
    <li>Junxiao Shi, Sara Saleem,
        <strong><a href="/study/CSC566/phishing.pdf">Computer Security Research Report: Phishing</a></strong>,
        [<a href="https://www2.cs.arizona.edu/~collberg/Teaching/466-566/2012/Resources/presentations/2012/topic5-final/slides.pdf">slides</a>]
    </ul>
<li>CSC630 Information Centric Networking
<li>CSC547 Green Computing
    <ul>
    <li>Junxiao Shi, Gavin Simons, Nick Crutchfield, Chris Gniady, Beichuan Zhang,
        <strong><a href="/study/CSC547/gdc-survey.pdf">Green Data Center: a survey of existing techniques</a></strong>
    <li>Gavin Simons, Nick Crutchfield, Junxiao Shi,
        <strong><a href="/study/CSC547/air-cooling.pdf">Air Cooling</a></strong>
    <li>Junxiao Shi, Gavin Simons, Nick Crutchfield,
        <strong><a href="/study/CSC547/power-aware-vmpr.pdf">Power-aware Virtual Machine Placement and Routing</a></strong>
    </ul>
<li>CSC552 Advanced Operating Systems
    <ul>
    <li>Project: Log-structured File System on FUSE
    </ul>
<li>LING539 Statistical Natural Language Processing
<li>CSC553 Principles of Compilation
    <ul>
    <li>Project: Oberon0 compiler
    </ul>
<li>BNAD510 Business for Scientists
    <ul>
    <li>Case study: Kellogg
    </ul>
<li>ECE574 Computer Aided Logic Design
<li>CSC630 Content Addressability
    <ul>
    <li>Junxiao Shi,
        <strong><a href="/t/2013/carepo/">Faster Content Distribution with Content Addressable NDN Repository</a></strong>
    </ul>
<li>CSC520 Principles of Programming Languages
</ul>
</section>

</div>
</div>
