---
layout: base
title: NDN Prefix Reachability
enable_bugsnag: head
section:
  title: Projects
  path: /p/
layout_head: |
  <style>
  #f_form .pure-checkbox { display: inline-block; padding: 0 1ex; }
  td.t_router { cursor: default; }
  td.node-up.node-fch { color:#3d9970; }
  td.node-up { color:#0074d9; }
  td.node-down { color:#85144b; }
  td.state-good { background-color:#01ff70; }
  td.state-bad  { background-color:#ff4136; }
  </style>
layout_footer_addtext: |
  , <a href="https://github.com/yoursunny/ndn-prefix-reach">built with NDNgo</a>
---

<div class="pure-g">
<div class="pure-u-1">

<h1>NDN Prefix Reachability</h1>

<p>
This page shows whether your content is reachable from every router on the NDN testbed.
Enter an Interest name, or double-click a router name to test its ping server.
</p>

<form id="f_form" class="pure-form">
<fieldset class="pure-g">
  <div class="pure-u-1 pure-u-sm-3-4">
    <input id="f_name" class="pure-input-1" type="text" placeholder="NDN name prefix">
  </div>
  <div class="pure-u-1 pure-u-sm-1-4">
    <button class="pure-button pure-button-primary" disabled>probe</button>
  </div>
</fieldset>
</form>

<p id="t_state"></p>
<div id="t_regions" class="pure-g"></div>

<script type="module">
import { el, mount } from "https://cdnjs.cloudflare.com/ajax/libs/redom/3.29.1/redom.es.min.js";

const REGIONS = [
  { name: "AMER", minLongitude: -181, maxLongitude: -30 },
  { name: "EMEA", minLongitude: -30, maxLongitude: 50 },
  { name: "APAC", minLongitude: 50, maxLongitude: 181 },
];
const SERVERS = [
  {
    server: "COE",
    base: "https://prefix-reach-coe.ndn.today",
    location: "Liberty Lake, Washington, USA (Crunchbits)",
  },
  {
    server: "LIL",
    base: "https://prefix-reach-lil.ndn.today",
    location: "Roubaix, France (Evolution Host)",
  },
  {
    server: "SYD",
    base: "https://prefix-reach-syd.ndn.today",
    location: "Sydney, Australia (HostHatch)",
  },
];

const $name = document.querySelector("#f_name");
$name.value = "";
const $submit = document.querySelector("#f_form button");
const $state = document.querySelector("#t_state");
$state.textContent = "loading";
const $regions = document.querySelector("#t_regions");

function makeCheckbox(label, checked = false) {
  const $checkbox = el("input", { type: "checkbox", checked });
  mount(document.querySelector("#f_form fieldset"),
    el("div.pure-u-1.pure-u-sm-1-4",
      el("label.pure-checkbox", $checkbox, " ", label),
    ),
  );
  return $checkbox;
}

const $suffix = makeCheckbox("random suffix");
const $cbp = makeCheckbox("CanBePrefix", true);
const $mbf = makeCheckbox("MustBeFresh", true);

function onRouterDblclick(evt) {
  const { prefix } = evt.target.dataset;
  $name.value = `${prefix}/ping`;
  $suffix.checked = true;
  $cbp.checked = false;
  $mbf.checked = true;
  document.getSelection().removeAllRanges();
}

(async () => {
  const abort = new AbortController();
  const nodes = await Promise.any([
    new Promise((resolve) => setTimeout(resolve, 10000)),
    ...SERVERS.map(async ({ base }) => {
      return await (await fetch(`${base}/nodes.json`, { signal: abort.signal })).json();
    }),
  ]);
  abort.abort();
  if (!nodes) {
    throw new Error("cannot retrieve nodes.json");
  }

  for (const { name: region, minLongitude, maxLongitude } of REGIONS) {
    const $tbody = el("tbody");
    const $table = el("table.pure-table.pure-table-horizontal",
      el("caption", region),
      el("thead",
        el("tr",
          el("th", "router"),
          ...SERVERS.map(({ server, location }) => el("th", { title: location }, server)),
        ),
      ),
      $tbody,
    );

    const inRegion = nodes.filter(({ position: [, lon] }) => minLongitude <= lon && lon < maxLongitude);
    inRegion.sort(({ position: [latA] }, { position: [latB] }) => latB - latA);
    for (const { id, name, host, prefix, up, fchEnabled } of inRegion) {
      const $td = el(`td.t_router${up ? ".node-up" : ".node-down"}${fchEnabled ? ".node-fch" : ""}`,
        { title: `${name}\n${host}`, "data-prefix": prefix }, id);
      $td.addEventListener("dblclick", onRouterDblclick);

      mount($tbody, el("tr", $td,
        ...SERVERS.map(({ server }) => el("td.t_result", { id: `result_${server}_${id}` })),
      ));
    }

    mount($regions, el("div.pure-u-1.pure-u-lg-1-3", $table));
  }

  $submit.disabled = false;
  $state.textContent = "";
})().catch((e) => $state.textContent = e);

async function probe({ server, base }, search) {
  const abort = new AbortController();
  setTimeout(() => abort.abort(), 20000);
  const results = await (await fetch(
    `${base}/probe.cgi?${search}`, { method: "POST", signal: abort.signal })).json();

  for (const [id, { ok, rtt, error }] of Object.entries(results)) {
    const $result = document.querySelector(`#result_${server}_${id}`);
    if (!$result) {
      continue;
    }
    if (ok) {
      $result.textContent = `${rtt}ms`;
      $result.classList.add("state-good");
    } else {
      $result.textContent = error;
      $result.classList.add("state-bad");
    }
  }
}

document.querySelector("#f_form").addEventListener("submit", async (evt) => {
  evt.preventDefault();
  $submit.disabled = true;
  $state.textContent = "probing";
  for (const $result of document.querySelectorAll(".t_result")) {
    $result.textContent = "";
    $result.classList.remove("state-good", "state-bad");
  }

  const search = new URLSearchParams();
  search.set("name", $name.value.trim());
  search.set("suffix", $suffix.checked ? "1" : "0");
  search.set("cbp", $cbp.checked ? "1" : "0");
  search.set("mbf", $mbf.checked ? "1" : "0");
  try {
    await Promise.all(SERVERS.map((server) => probe(server, search)));
    $state.textContent = "";
  } catch (e) {
    $state.textContent = e;
  } finally {
    $submit.disabled = false;
  }
});
</script>
